{% extends "base.html" %} {% load static %} {% block content %}

<div class="hero">
  <div style="position: relative; width: 100%">
    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@1.9.96/build/spline-viewer.js"
    ></script>
    <spline-viewer
      class="spline-viewer"
      url="https://prod.spline.design/DyIwvWOlzSiJ8RMj/scene.splinecode"
    ></spline-viewer>
    <div
      style="
        width: 100%;
        background-color: var(--color-bg);
        z-index: 10;
        padding: 1rem 2rem;
      "
    >
      <h1 style="border-bottom: 1px solid var(--color-border)">
        Cocci Archivio
      </h1>
      <p style="font-size: 1.4rem">
        Cocci Archivio was launched in 2021 with the goal of researching and
        selecting the finest vintage garments from every corner of the world.
      </p>

      <p style="font-size: 1.4rem">
        Showcasing the history of clothing is perhaps at the core of Cocci's
        attention, in fact every single garment is one of a kind and has a story
        to tell, a past that is sometimes visible on the material itself and
        that tells about its previous uses: the signs of time in this sense
        enrich the garment, giving it a uniqueness that only vintage pieces can
        have. The ethics of vintage is to value time, people and quality without
        embracing the fast-fashion culture.
      </p>

      <p style="font-size: 1.4rem">
        We have digitized over 1,500 garments across a wide range of categories,
        including military, denim, collegiate, workwear, leather, and many more.
        The archive is constantly growing, with new additions made daily.
      </p>

      <p style="font-size: 1.4rem">
        Located in the nearby of Bologna (ITA), the showroom direction is
        operated by founder Giulio Marchioni.
      </p>
    </div>
  </div>
</div>

{% endblock %}
