{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Utility Bar -->
<section class="utility-bar">
    <button id="filterBtn" class="utility-bar__button">FILTERS</button>
    <button id="sortBtn" class="utility-bar__button">SORT</button>
</section>

<section id="filterPanel" class="filter-panel" hidden>
    {% for tag in tags %}
    <button id="applyFilters" class="filter-panel__apply">{{tag|title}}</button>
    {% endfor %}
</section>

<!-- Sort Menu (hidden by default) -->
<section id="sortMenu" class="sort-menu" hidden>
    <button data-sort="price_asc">Price: Low → High</button>
    <button data-sort="price_desc">Price: High → Low</button>
    <button data-sort="year_desc">Newest</button>
    <button data-sort="year_asc">Oldest</button>
</section>

<!-- Product Grid -->
<section id="productGrid" class="product-grid">
    {% for product in products %}
    <article class="product-card {% if product.sold_out %}is-sold-out{% endif %}"
        data-price="{{ product.price|floatformat:" 2" }}" data-year="{{ product.year }}" data-size="{{ product.size }}"
        data-brand="{{ product.brand }}" data-images='{{ product.images_json_data }}'>
        <img src="" alt="{{ product.name }}" class="product-card__image">
        <div class="product-card__meta">
            <h3 class="product-card__title">{{ product.title }}</h3>
            <p class="product-card__price">€{{ product.price }} EUR / {{ product.size }}</p>
        </div>
    </article>
    {% empty %}
    <p class="empty-state">No products match your criteria.</p>
    {% endfor %}
</section>

<!-- Pagination Controls -->
<div class="pagination">
    {% if page_obj.has_previous %}
    <a class="previous" href="?page={{ page_obj.previous_page_number }}" style="text-decoration: none; color: var(--color-text);">{{ page_obj.previous_page_number }}</a>
    {% endif %}

    <div class="current">
        <span>
            {{ page_obj.number }}
        </span>
    </div>

    {% if page_obj.has_next %}
        <a class="previous" href="?page={{ page_obj.next_page_number }}" style="text-decoration: none; color: var(--color-text);">{{ page_obj.next_page_number }}</a>
    {% endif %}
</div>


{% endblock %}